---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';
const f = await getEntry('flags', 'config');
if (!f?.data.enable_reading_list) return Astro.redirect('/404/');
const b = [
  ['High Output Management', 'Andrew Grove'],
  ['The Lean Startup', 'Eric Ries'],
  ['Competing Against Luck', 'Clayton Christensen'],
];
---

<BaseLayout title="Reading List">
  <main id="main-content" role="main" class="wrapper stack gap-10">
    <h1>Reading List</h1>
    <div class="grid">
      {
        b.map(([t, a]) => (
          <div class="card">
            <>
              <strong>{t}</strong>
              <p>{a}</p>
            </>
          </div>
        ))
      }
    </div>
  </main>
</BaseLayout>
<style>
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card {
    padding: 1rem;
    border: 1px solid var(--gray-800);
    border-radius: 0.5rem;
    background: var(--gradient-subtle);
  }
  strong {
    display: block;
    color: var(--gray-0);
  }
  p {
    color: var(--gray-300);
  }
</style>
