---
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="About | Alexander Härenstam"
	description="About Alexander Härenstam Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Alexander Härenstam at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a highly motivated professional with a strong track
						record in product management, business analysis, and
						software development. With a deep passion for innovation
						and a keen eye for emerging trends, I am driven to
						deliver exceptional results and contribute to the
						success of leading global firms.
					</p>
					<p>
						In the ever-evolving landscape of our digital age, I
						thrive on the challenges posed by change and disruption.
						My expertise lies in transforming ideas into tangible
						products and services that not only meet customer needs
						but also push boundaries and drive market success.
					</p>
					<p>
						Collaboration is at the heart of my approach. I firmly
						believe that the best outcomes are achieved through
						effective teamwork and cross-functional collaboration.
						With a background in software technology, I have a deep
						understanding of the intersection between product,
						design, and technology. I leverage this knowledge to
						create compelling and user-centric digital solutions
						that captivate audiences and drive engagement.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<b>M.Sc. Management and Economics of Innovation</b>,
						Chalmers University of Technology (2015 - 2017)
					</p>
					<p>
						<b>B.Sc. Software Engineering</b>, Chalmers University
						of Technology (2012 - 2015)
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						Product Management, Software Development, Design
						Thinking, Strategic Thinking, Technological Innovation,
						Developer Experience, Business Analysis
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
